<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-card-if</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ username }}さんの紹介</h1>
    <div id="desc">
        {% if age < 20 %}
            <p>年齢は、{{ age }}歳（未成年）です。</p>
            <p>連絡先は非公開です。</p>
        {% else %}
            <p>年齢は、{{ age }}歳です。</p>
            <p>メールアドレスは、{{ email }}です。</p>
        {% endif %}
    </div>
</body>
</html>