{% extends "layout_login.html" %}
{% block contents %}
    <div class="box pure-menu-horizontal pure-menu-scrollable">
        お気に入りの作家：
        {% for u in fav_users %}
            <a href="/users/{{ u }}" class="pure-button">{{ u }}</a>
        {% endfor %}
    </div>

    <div class="box pure-menu-horizontal pure-menu-scrollable">
        全ての作家：
        {% for u in users %}
            <a href="/users/{{ u }}" class="pure-button">{{ u }}</a>
        {% endfor %}
    </div>
    
    <h3>{{ id }}のタイムライン</h3>
    <div class="haiku-list">
        {% if timelines | length == 0 %}
            <div class="box">タイムラインに作品がありません。俳句を書くか他のユーザーをお気に入りにしてください。</div>
        {% endif %}
        {% for i in timelines %}
            <div class="haiku">
                {{ i.text | linebreak }}
                <p class="info">
                    {{ i.time | datestr }}　作：<a href="/users/{{ i.id }}">{{ i.id }}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}