<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/side-menu.css">
    <link rel="stylesheet" href="{{ staticfile('style.css') }}">
    <title>写真共有</title>
</head>
<body>
    <div id="layout" class="page">
        {% block header %}
        {% endblock %}

        <div id="main">
            <div class="header">
                <h1>
                    {% block title %}
                        写真共有
                    {% endblock %}
                </h1>
            </div>

            <div class="contents">
                {% block contents %}
                {% endblock %}
            </div>

            {% block footer %}
                <p class="footer"><a href="/" class="pure-button">トップページへ</a></p>
            {% endblock %}
        </div>
    </div>
    {% block footer_script %}
    {% endblock %}
</body>
</html>