<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css?v=0220">
    <title>掲示板</title>
</head>
<body>
    <main class="content">
        <h1><a href="#" id="menu-switch">≡</a>会員制の掲示板　ー　{{ user }}</h1>

        <div id="menu" class="pure-menu pure-u-2-5">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/logout" class="pure-menu-link">→ログアウト</a>
                </li>
            </ul>
        </div>

        <form action="/write" method="POST" class="pure-form pure-form-stacked">
            <textarea name="ta" cols="60" rows="4"></textarea>
            <button type="submit" class="pure-button pure-button-primary">書き込む</button>
        </form>

        {% for i in data %}
            <div class="box">
                <p class="box_h">{{ i.name }} - {{ i.data }}</p>
                <p>{{ i.text }}</p>
            </div>
        {% endfor %}

        <script type="text/javascript">
            function $(id) { return document.querySelector(id) }
            $("#menu-switch")._b = false;
            $("#menu-switch").onclick = () => {
                $("#menu-switch")._b = !$("#menu-switch")._b;
                if ($("#menu-switch")._b) {
                    $("#menu").style.display = "block";
                } else {
                    $("#menu").style.display = "none";
                }
            };
        </script>
    </main>
</body>
</html>